.header-sm-shelves-cont {
  height: 56px;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-sm-shelves-img {
  margin-left: 24px;
  width: 92px;
  height: 24px;
}
.bars-shelves-img {
  width: 20px;
  height: 14px;
}
.ham-shelves-btn {
  border-width: 0px;
  background-color: transparent;
  margin-right: 24px;
}
.sm-shelves-menu-items {
  display: flex;
  align-items: center;
  height: 40px;
  position: absolute;
  top: 57px;
  left: 24px;
}
.sm-shelves-home-para {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.355556px;
  color: #64748b;
  margin-right: 16px;
}
.sm-shelves-shelves-para {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.355556px;
  color: #0284c7;
  margin-right: 24px;
}
.sm-shelves-logout-btn {
  padding: 8px 16px;
  gap: 8px;
  color: white;
  font-family: inter;
  width: 73px;
  height: 32px;
  border-width: 0px;
  background: #0284c7;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 39px;
}
.sm-shelves-close-btn {
  cursor: pointer;
  border-width: 0px;
  height: 30px;
  width: 30px;
}
.ham-close-icon {
  height: 22px;
  width: 22px;
}
.link-shelves-header {
  text-decoration: none;
}
