.bg-cont {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.header-sm-home-cont {
  display: none;
}
.img-cont {
  position: absolute;
  width: 780px;
  height: 1024px;
  left: 0px;
  top: 0px;
}
.sm-website-logo-img {
  display: none;
}
.website-logo-img {
  width: 780px;
  height: 1024px;
}
.login-page-img {
  position: absolute;
  width: 780px;
  height: 1024px;
  left: 0px;
  top: 0px;
}
.sm-form-logo-img {
  display: none;
}
.sm-login-form-cont {
  display: none;
}
.login-form-cont {
  position: absolute;
  width: 499px;
  height: 484px;
  left: 852px;
  top: 270px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.logo-img {
  width: 141px;
  height: 48px;
  left: 1031px;
  margin-top: 48px;
  margin-left: 179px;
  margin-right: 179px;
  margin-bottom: 51px;
}

.user-name-p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  height: 19px;
  width: 85px;
  border-radius: 0px;
  color: #5a7184;
  margin-left: 69px;
  margin-right: 342;
  margin-bottom: 12px;
}
.pass-p {
  height: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #5a7184;
  margin-left: 69px;
  margin-right: 342;
  margin-bottom: 12px;
}
.user-box {
  height: 56px;
  width: 360px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #c3cad9;
  border-radius: 8px;
  margin-left: 69px;
  margin-right: 70px;
  margin-bottom: 27px;
  padding-left: 25px;
}
.pas-box {
  height: 56px;
  width: 360px;
  background: #ffffff;
  border: 1px solid #c3cad9;
  border-radius: 8px;
  margin-left: 69px;
  margin-right: 70px;
  margin-bottom: 8px;
  padding-left: 25px;
}
.login-form-btn {
  background: #0284c7;
  border-width: 0px;
  outline: none;
  height: 56px;
  width: 360px;
  border-radius: 8px;
  color: white;
  margin-left: 69px;
  margin-right: 70px;
  margin-top: 32px;
  margin-bottom: 48px;
  cursor: pointer;
}
.error-para {
  width: 215px;
  height: 0px;
  margin-left: 69px;
  margin-top: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ef4444;
}

@media (max-width: 576px) {
  .bg-cont {
    height: 640px;
    min-width: 360px;
    max-width: 576px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sm-website-logo-img {
    display: block;
    width: 216px;
    height: 216px;
  }
  .website-logo-img {
    display: none;
  }
  .login-form-cont {
    display: none;
  }
  .sm-form-logo-img {
    display: block;
    width: 104px;
    height: 28px;
  }
  .sm-login-form-cont {
    display: block;
    min-height: 320px;
    max-height: 667px;
    width: 330px;
    margin-top: 35px;
  }

  .sm-user-name-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #5a7184;
    margin-bottom: 45px;
  }
  .sm-user-box {
    height: 56px;
    min-width: 312px;
    padding-left: 20px;
    background: #ffffff;
    border: 1px solid #c3cad9;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .sm-pass-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #5a7184;
    min-width: 320px;
    margin-bottom: 15px;
  }
  .sm-pas-box {
    height: 56px;
    min-width: 312px;
    padding-left: 20px;
    background: #ffffff;
    border: 1px solid #c3cad9;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .sm-error-para {
    min-width: 205px;
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ef4444;
  }
  .sm-login-btn {
    height: 56px;
    min-width: 312px;
    background: #0284c7;
    border-radius: 8px;
    border-width: 0px;
    color: white;
  }
}
@media (min-width: 768px) and (max-width: 820px) {
  .bg-cont {
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sm-website-logo-img {
    display: block;
    width: 216px;
    height: 216px;
  }
  .website-logo-img {
    display: none;
  }
  .login-form-cont {
    display: none;
  }
  .sm-form-logo-img {
    display: block;
    width: 104px;
    height: 28px;
  }
  .sm-login-form-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 320px;
    max-height: 667px;
    width: 70vw;
    margin-top: 35px;
    margin-left: 45px;
  }

  .sm-user-name-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #5a7184;
    align-self: flex-start;
    padding-left: 90px;
  }
  .sm-user-box {
    height: 56px;
    width: 400px;
    padding-left: 20px;
    background: #ffffff;
    border: 1px solid #c3cad9;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .sm-pass-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #5a7184;
    min-width: 320px;

    align-self: flex-start;
    padding-left: 90px;
  }
  .sm-pas-box {
    height: 56px;
    width: 400px;
    padding-left: 20px;
    background: #ffffff;
    border: 1px solid #c3cad9;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .sm-error-para {
    min-width: 205px;
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ef4444;
    align-self: flex-start;
    padding-left: 90px;
  }
  .sm-login-btn {
    height: 56px;
    width: 400px;
    background: #0284c7;
    border-radius: 8px;
    border-width: 0px;
    color: white;
    margin-top: 15px;
  }
}
