.home-sm-ham-items {
  display: flex;
  align-items: center;
  height: 40px;
  position: absolute;
  top: 57px;
  left: 24px;
}
.sm-home-para {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.355556px;
  color: #0284c7;
  margin-right: 16px;
}
.sm-shelves-para {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.355556px;
  color: #64748b;
  margin-right: 24px;
}
.sm-home-logout-btn {
  padding: 8px 16px;
  gap: 8px;
  width: 73px;
  height: 32px;
  border-width: 0px;
  background: #0284c7;
  border-radius: 4px;
  outline: none;
  color: white;
  cursor: pointer;
  margin-right: 39px;
}
.sm-home-close-btn {
  height: 20px;
  width: 20px;
  border-radius: 0px;
  border-width: 0px;
  background-color: transparent;
}
.sm-header-home-close-btn {
  height: 20px;
  width: 20px;
}
.link-home-home-header {
  text-decoration: none;
}
.header-sm-home-cont {
  height: 56px;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-sm-home-img {
  width: 92px;
  height: 24px;
  margin-left: 24px;
}
.bars-home-img {
  width: 20px;
  height: 14px;
}
.ham-home-btn {
  border-width: 0px;
  background-color: transparent;
  margin-right: 24px;
}
