.social-footer-cont {
  width: 155px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.social-icons-cont {
  display: flex;
}
.icons {
  width: 18px;
  height: 21px;
  margin-right: 24px;
  color: #3d3c3c;
}
.contact-us-para {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #3d3c3c;
}
